<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
  </head>
  <body>
    <div class="header" id="header">
        <div class="container">
          <nav class="navbar">
          <div class="header-left">
            <a class="logo" href="../../page/Home/home.html">
              <img src="../../image/imroz/logo.png" alt="logo" />
            </a>
          </div>

          <div class="header-right">
            <div class="nav-menu" id="navMenu" onclick="setActive(event)">
              <a class="nav-link active" href="../../page/Home/home.html">Home</a>
              <a class="nav-link" href="../../page/Service/Service.html"
                >Service</a
              >
              <a class="nav-link" href="../../page/About/About.html">About</a>
              <a class="nav-link" href="#">Pages</a>
              <a class="nav-link" href="#">Blocks</a>
              <a class="nav-link" href="#">Contact</a>
            </div>
            <div class="btn-nav-menu">
              <a href="#" target="_blank ">Buy Now</a>
            </div>
            <div class="menu-toggle" id="menu-toggle">
              <i class="fa fa-bars"></i>
            </div>
          </div>
        </div>
 
    </header>
  </nav>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
      integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script src="../../page/Home/home.js"></script>
  </body>
</html>
