<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>slider</title>
    <link rel="stylesheet" href="../../layout/Slider/slider.css" />
  </head>
  <body>
    <div id="slider">
      <div class="slider">
        <div class="container"> 
          <div class="row ">

                <div class="col">
                    <div class="inner">
                    <h1 class="inner-title">Design Driven Development Your Web Products.</h1>
                </div>
            </div>
          
          </div>
          <div class="service">
            <div class="row justify-content-center">
              <div class="col-12 col-lg-4 col-sm-12 ">
                  <div class="service-item">
                      <div class="icon">
                          <i class="fab fa-vine"></i>
                      </div>
                      <div class="description">
                          <h4>Awarded Design</h4>
                          <p>There are many variations variations of passages of Lorem Ipsum available.</p>
    
                      </div>
                  </div>
              </div>
              <div class="col-12  col-lg-4 col-sm-12">
                  <div class="service-item">
                      <div class="icon">
                          <i class="fa fa-chalkboard"></i>
                      </div>
                      <div class="description">
                          <h4>Design & Creative</h4>
                          <p>Passages there are many variations variations of of Lorem Ipsum available.</p>
     
                      </div>
                  </div>
              </div>
              <div class="col-12 col-lg-4 col-sm-12">
                  <div class="service-item">
                      <div class="icon">
                          <i class="fab fa-squarespace"></i>
                      </div>
                      <div class="description">
                      
                          <h4>App Development</h4>
                          <p>Variations There are many variations of passages of Lorem Ipsum available.</p>
                      </div>
                  </div>
              </div>
          </div>
          
            
            
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
